In [9]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import data_loader as dl

### YAHOO FINANCE FED DATA

In [12]:

#Retrieving the data from the FED database using the yfinance library
# Define the ticker symbol for the 10-year Treasury yield
ticker_symbol = "^TNX"  

# Download the historical data for the 10-year Treasury yield using yahoo finance and the data_loader module
data = dl.yfinance_get_ticker_data(ticker_symbol, start_date="2000-01-01")

Downloading data for ^TNX...

In [11]:
#Get data as pandas dataframe
data = data.reset_index()
data['Date'] = pd.to_datetime(data['Date'])
data.set_index('Date', inplace=True)    
data.head(10)

Price       Close   High    Low   Open  Volume
Date
2000-01-03  6.548  6.603  6.498  6.498       0
2000-01-04  6.485  6.548  6.485  6.530       0
2000-01-05  6.599  6.599  6.508  6.521       0
2000-01-06  6.549  6.585  6.540  6.558       0
2000-01-07  6.504  6.595  6.504  6.545       0
2000-01-10  6.558  6.567  6.536  6.540       0
2000-01-11  6.664  6.664  6.595  6.600       0
2000-01-12  6.696  6.696  6.645  6.659       0
2000-01-13  6.618  6.705  6.618  6.664       0
2000-01-14  6.674  6.688  6.563  6.623       0